@media (max-width: 360px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

}

/*--------------Box responsive-----------------*/

@media (max-width: 991px) {
    .box {
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .box-2 {
        margin-top: 40px;
    }
}

/*--------------Banner responsive----------------*/

@media (max-width: 450px) {
    .banner-content {
        right: 5% !important;
        top: 10% !important;
    }

}